<!-- <div>
<nav class="navbar navbar-expand-lg" style="background-color: 		#E0E0E0;">
    <a class="navbar-brand" href="#" style="color: black;">RestoQr</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" style="text-align: right;" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active custome ">
          <a class="nav-link "style="color: black;" href="#" routerLink="foodSelection">SelectFood</a>
        </li>
        <li class="nav-item custome">
          <a class="nav-link " style="color: black;" href="#" routerLink="addtocart"><i class="bi bi-cart3"></i> Cart</a>
          <div style="font-size: 10px;" class="badge bg-danger"></div>
        </li>
        <li class="nav-item custome">
          <a class="nav-link " style="color: black;" href="#" routerLink="userdetail">Details</a>
        </li>
      </ul>
    </div>
  </nav>
   <router-outlet></router-outlet>
</div> -->

<mat-toolbar class="" style="background-color: #E0E0E0;">
  <button class="btn" (click)="drawer.toggle()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>RestoQr</span>
  <span class="example-spacer"></span>
  <button class="btn" (click)="badgevisibility()" mat-icon-button>
    <mat-icon matBadgeColor="accent" matBadge="15" [matBadgeHidden]="badgevisible"
      matBadgeSize="small">notifications</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container autosize>
  <mat-drawer #drawer opened="true" mode="side" position="start">
    <mat-nav-list>

      <img src="../../../assets/Images/logo.png" alt="">

      <mat-list-item routerLink="foodSelection">
        <a class="link" routerLink="foodSelection" mat-button><mat-icon> restaurant</mat-icon> SelectFood</a>
      </mat-list-item>
      <mat-list-item routerLink="showorder">
        <a class="link" routerLink="addtocart" mat-button><mat-icon>add_shopping_cart</mat-icon> Cart</a>
      </mat-list-item>
      <mat-list-item routerLink="userdetail">
        <a class="link" routerLink="userdetail" mat-button><mat-icon>person</mat-icon> YourDetails</a>
      </mat-list-item>
      <mat-list-item routerLink="orderStatus">
        <a class="link" routerLink="orderStatus" mat-button><mat-icon>query_builder</mat-icon> Order Status</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="text-align: center;min-height: 600px;">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>


<!-- <mat-toolbar class="" style="background-color: #E0E0E0;">
  <button class="btn" (click)="drawer.toggle()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>RestoQr</span>
  <span class="example-spacer"></span>
  <button class="btn" (click)="badgevisibility()" mat-icon-button>
    <mat-icon matBadgeColor="accent" matBadge="15" [matBadgeHidden]="badgevisible"
      matBadgeSize="small">notifications</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #drawer opened="true" mode="side" position="start">
    <mat-nav-list>

      <img src="../../../assets/Images/logo.png" alt="">

      <mat-list-item routerLink="foodSelection">
        <a class="link" routerLink="foodSelection" mat-button><mat-icon> restaurant</mat-icon> SelectFood</a>
      </mat-list-item>
      <mat-list-item routerLink="showorder">
        <a class="link" routerLink="addtocart" mat-button><mat-icon>add_shopping_cart</mat-icon> Cart</a>
      </mat-list-item>
      <mat-list-item routerLink="userdetail">
        <a class="link" routerLink="userdetail" mat-button><mat-icon>person</mat-icon> YourDetails</a>
      </mat-list-item>
      <mat-list-item routerLink="orderStatus">
        <a class="link" routerLink="orderStatus" mat-button><mat-icon>query_builder</mat-icon> Order Status</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->