<!-- <link href="../index.html">
<router-outlet *ngIf="isLoggedIn == false"></router-outlet>
<app-sidenav *ngIf="isLoggedIn">
    <router-outlet ></router-outlet>
</app-sidenav> -->
<ngx-ui-loader
text="It's take some time to validate your credentials"
></ngx-ui-loader>

<div ngxUiLoaderBlurred (blur)="10">
    <router-outlet></router-outlet>
</div>
<!-- <app-sidenav (onToggleSideNav)="onToggleSideNav($event)"></app-sidenav>
<app-body 
    [collapsed]="isSideNavCollapsed"
    [screenWidth]="screenWidth"
></app-body> -->