<div class="content-block dx-card responsive-paddings">
    <div class="d-con-no-filter-grid-flex-row">
        <h1 style="color: rgb(57, 54, 54);font-weight: bold;">Show All Order</h1>
        <dx-data-grid class="d-grid-no-batch-actions-filter" [remoteOperations]="false" [allowColumnReordering]="true"
            [rowAlternationEnabled]="true" [showBorders]="true" [height]="gridHeight" [width]="gridWidth" [dataSource]="data" keyExpr="id">
            <dxo-search-panel [visible]="true"></dxo-search-panel>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-group-panel [visible]="true"></dxo-group-panel>
            <dxo-scrolling mode="virtual"></dxo-scrolling>

            <dxi-column dataField="id" caption="Id" [width]="columnWidths.id"></dxi-column>
            <dxi-column dataField="status" caption="Status" [width]="columnWidths.status"></dxi-column>
            <dxi-column dataField="userid" caption="UserId" [width]="columnWidths.userid"></dxi-column>
            <dxi-column dataField="orderId" caption="OrderId." [width]="columnWidths.orderId"></dxi-column>
            <dxi-column dataField="tableno" caption="TableNo" [width]="columnWidths.tableno"></dxi-column>
            <dxi-column dataField="username" caption="UserName" [width]="columnWidths.username"></dxi-column>
            <dxi-column dataField="foodid" caption="FoodId" [width]="columnWidths.foodid"></dxi-column>
            <dxi-column dataField="foodname" caption="FoodName" [groupIndex]="0"[width]="columnWidths.foodname"></dxi-column>
            <dxi-column dataField="foodprice" caption="FoodPrice" [width]="columnWidths.foodprice"></dxi-column>
            <dxi-column dataField="fooddescription" caption="FoodDescription" [width]="columnWidths.fooddescription"></dxi-column>
            <dxo-summary>
                <dxi-total-item column="userid" summaryType="count">
                </dxi-total-item>
            </dxo-summary>
        </dx-data-grid>
    </div>
</div>