<div class="content-block dx-card responsive-paddings">
    <div class="d-con-no-filter-grid-flex-row">
        <h1 style="color: rgb(57, 54, 54);font-weight: bold;">Show Order & Manage</h1>
        <dx-data-grid  class="d-grid-no-batch-actions-filter" [remoteOperations]="false"
            [allowColumnReordering]="true" [rowAlternationEnabled]="true" [showBorders]="true" [width]="'100%'"
            [dataSource]="data" keyExpr="soId">
            <dxo-search-panel [visible]="true"></dxo-search-panel>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-group-panel [visible]="true"></dxo-group-panel>
            <dxo-scrolling mode="virtual"></dxo-scrolling>

            <dxi-column dataField="soId" caption="Order Id" [width]="90"></dxi-column>
            <dxi-column dataField="tabelNo" caption="Tabel No." [width]="80"></dxi-column>
            <dxi-column dataField="contactNo" caption="Contact No" [width]="110"></dxi-column>
            <dxi-column dataField="foodName" caption="Food Name"></dxi-column>
            <dxi-column dataField="foodPrice" caption="Food Price"></dxi-column>
            <dxi-column dataField="foodDescription" caption="FoodDescription"></dxi-column>
            <dxi-column cellTemplate="cellTemplate" caption="Action"></dxi-column>

            <div *dxTemplate="let data of 'cellTemplate'">
                <!-- <span>
                    <dx-button stylingMode="contained" text="Confirme" type="success" [width]="100"></dx-button>
                </span>
                <span class="ms-2">
                    <dx-button stylingMode="contained" text="Cancle" type="danger" [width]="100"></dx-button>
                </span> -->
                <dx-button stylingMode="contained" text="Manage" type="success"  (onClick)="print(data.data['soId'])" [width]="100"></dx-button>

            </div>
        </dx-data-grid>
    </div>
</div>
 <!-- <ngx-extended-pdf-viewer [src]="pdfurl"></ngx-extended-pdf-viewer> -->