<!-- <dx-popup class="d-con-popup" [fullScreen]="true" [title]="popupTitle" [(width)]="popupWidth" [(height)]="popupHeight"
    [dragEnabled]="false" [showCloseButton]="true" [shading]="false" [toolbarItems]="popupToolbarItems"
    [(visible)]="popupVisible" [animation]="popupAnimation" (onHidden)="onPopupHidden($event)"
    (onHiding)="onPopupHiding($event)">
    <dx-scroll-view *dxTemplate="let data of 'content'" class="d-con-popup-content">
        <div class="d-con-form">
        </div>
    </dx-scroll-view>
</dx-popup>
<ng-template #componentContainer></ng-template> -->