<div class="content-block dx-card responsive-paddings">
    <div class="d-con-no-filter-grid-flex-row">
        <h1 style="color: rgb(57, 54, 54);font-weight: bold;">Show Order & Manage</h1>
        <dx-data-grid class="d-grid-no-batch-actions-filter" [remoteOperations]="false" [allowColumnReordering]="true"
            [rowAlternationEnabled]="true" [showBorders]="true" [width]="'100%'" [dataSource]="data" keyExpr="userid">
            <dxo-search-panel [visible]="true"></dxo-search-panel>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-group-panel [visible]="true"></dxo-group-panel>
            <dxo-scrolling mode="virtual"></dxo-scrolling>

            <dxi-column dataField="userid" caption="User Id" [width]="90"></dxi-column>
            <dxi-column dataField="orderId" caption="Order Id." [width]="80"></dxi-column>
            <dxi-column dataField="username" caption="UserName" [width]="110"></dxi-column>
            <dxi-column dataField="mobileno" caption="Mobile No"></dxi-column>
            <dxi-column cellTemplate="cellTemplate" caption="Action"></dxi-column>

            <div *dxTemplate="let data of 'cellTemplate'">
                <!-- <span>
                    <dx-button stylingMode="contained" text="Confirme" type="success" [width]="100"></dx-button>
                </span>
                <span class="ms-2">
                    <dx-button stylingMode="contained" text="Cancle" type="danger" [width]="100"></dx-button>
                </span> -->
                <dx-button stylingMode="contained" text="Manage" type="success" (onClick)="manage(data.data.orderId)"
                    [width]="100"></dx-button>

            </div>
            <dxo-summary>
                <dxi-total-item column="userid" summaryType="count">
                </dxi-total-item>
            </dxo-summary>
        </dx-data-grid>
    </div>
</div>
<!-- <ngx-extended-pdf-viewer [src]="pdfurl"></ngx-extended-pdf-viewer> -->


<dx-popup [width]="'100%'" [height]="'100%'" [hideOnOutsideClick]="true" [showCloseButton]="true" [(visible)]="popupVisible"
    title="Manage Order">
        <div>
            <dx-data-grid class="d-grid-no-batch-actions-filter" [remoteOperations]="false"
                [allowColumnReordering]="true" [rowAlternationEnabled]="true" [showBorders]="true" [width]="'100%'"
                [dataSource]="orderData" keyExpr="orderId">
                <dxo-search-panel [visible]="true"></dxo-search-panel>
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-header-filter [visible]="true"></dxo-header-filter>
                <dxo-group-panel [visible]="true"></dxo-group-panel>
                <dxo-scrolling mode="virtual"></dxo-scrolling>

                <dxi-column dataField="tableno" caption="Table No" ></dxi-column>
                <dxi-column dataField="orderId" caption="Order Id."></dxi-column>
                <dxi-column dataField="userId" caption="User Id"></dxi-column>
                <dxi-column dataField="username" caption="UserName" ></dxi-column>
                <dxi-column dataField="foodId" caption="Food Id" ></dxi-column>
                <dxi-column dataField="foodname" caption="Food Name" ></dxi-column>
                <dxi-column dataField="fooddescription" caption="Food Description" ></dxi-column>
                <dxi-column dataField="foodprice" caption="Food Price" ></dxi-column>

            </dx-data-grid>
        </div>
        <dxi-toolbar-item widget="dxButton" toolbar="bottom" location="center">
            <!-- [options]="bookButtonOptions" -->
        </dxi-toolbar-item>
</dx-popup>